<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/fruit/styles.css?after">
</head>
<body>
    <header>
        <h1>회원가입</h1>
    </header>

    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
        </script>
        {% endif %}
        사용할 아이디: <input type="text" name="username" required><br>
        사용할 비밀번호: <input type="password" name="password" required><br>
        <input type="submit" value="회원가입"><br>
        <input type="button" value="뒤로 가기" onclick="location.href='{% url 'fruit:login' %}'">
    </form>

    <footer class="footer">
        <div>
            <span>이름: 김건일</span><br>
            <span>이메일: laughsi@naver.com</span><br>
            <span>전화번호: 010-8937-2752</span> 
        </div>
        <div>
            <span>이름: 김세연</span><br>
            <span>이메일: pavv150@naver.com </span><br>
            <span>전화번호: 010-8933-6010</span> 
        </div>
        <div>
            <span>이름: 윤웅수</span><br>
            <span>이메일: woong_soo@daum.net</span><br>
            <span>전화번호: 010-6231-9440</span>
        </div>
        <div>
            <span>이름: 황성연</span><br>
            <span>이메일: tjddus693@naver.com</span><br>
            <span>전화번호: 010-7767-7673</span> 
        </div>
    </footer>
</body>
</html>